.banner {
    display: flex;
    flex-direction: column;
    /* stack children vertically */
    height: 300px;
    background-size: cover;
    background-position: center;
    padding: 0;
    align-items: center;
    background-color: black;
    position: relative;
    /* horizontally center text */
}

.headerSpacer {
    flex-grow: 0;
    /* fixed height from component */
}

.bannerText {
    font-size: var(--font-size-4xl, 2.5rem);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    flex-grow: 1;
    color: var(--color-text-white);
    /* take remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    /* vertically center in remaining space */
    width: 100%;
    position: relative;
    z-index: 1;
}