.header {
  width: 100%;
  height: 90px;
  background-color: rgba(16, 16, 16, 0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 0;
  left: 0;

  z-index: 1000;
}

.container {
  /* background-color: red; */
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 0.75rem;
  /* padding: 0.75rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logoImage {
  height: 60px;
  /* adjust as needed */
  width: auto;
  display: block;

}

.navLinks {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }
}

.menuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
    color: var(--color-text-white)
  }
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(16, 16, 16, 0.9);
  border-top: 1px solid #ddd;
  padding: 1rem;

}

.navLinks a,
.mobileMenu a {
  text-decoration: none;
  color: var(--color-text-white);
  font-weight: 500;
  transition: color 0.2s;
}