html,
body,
#root {
  height: 100%;
  /* Make root elements full height */
  margin: 0;
  padding: 0;
}

.main-content {
  /* background-color: red; */
  min-height: calc(100vh - 60px);
  /* Full viewport minus header height */
  display: flex;
  flex-direction: column;
}